/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@layer components {
  .auth-input {
    @apply shadow  rounded w-full py-2 px-3 text-gray-700 leading-tight border-2 focus:outline-none  focus:border-blue-500 max-w-full;
  }
  .auth-input-header {
    @apply text-lg font-medium text-gray-700 mb-1;
  }
  .auth-bg-shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 30px 0px,
      rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
  }
  .items-normal {
    align-items: normal;
  }
  .default-link-style {
    @apply text-blue-600 underline hover:text-blue-800;
  }
}
